@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-width: 1440px;

  display: flex;
  flex-direction: column;
  min-height: 100%;

  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn-yellow {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  border: none;

  background: linear-gradient(to bottom, #ffffff 40%, #ffe17f 40%, #ffe17f 55%, #ffffff 55%);
}

.btn-yellow:focus {
  outline: none;
  background: linear-gradient(to bottom, #ffffff 40%, #af4fff 40%, #af4fff 55%, #ffffff 55%);
}

.btn-yellow:hover {
  background: #ffe17f;
}

.btn-yellow:active {
  opacity: 0.3;
}

.page-header {
  position: relative;

  margin: 39px auto 0;

  width: 1160px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  color: #000000;
  background-color: #ffe17f;
}

.logo-link {
  width: 145px;
  display: block;
}

.logo-link:focus {
  outline: 2px solid #af4fff;
  border-radius: 10px;
}

.logo-link:active {
  outline: none;
}

.logo-header {
  margin: -22px 0 27px 61px;
}

.page-header-container {
  position: relative;

  margin: 0 auto;

  width: 1073px;
  display: flex;
}

.search-form {
  position: relative;
  margin-top: -5px;
  margin-right: 40px;

  width: 516px;
  box-sizing: border-box;
}

.search-form-input {
  margin-top: -5px;
  padding: 18px 0 18px 52px;

  width: 514px;
  height: 30px;

  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 18.96px;

  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 16px 10px;

  border: none;
  background-color: #ffe17f;

  cursor: pointer;
}

.search-form-input::placeholder {
  font-size: 16px;
  line-height: 19px;
  opacity: 0.3;
  background-color: #ffe17f;
  color: #000000;
}

.search-form-input:focus {
  outline: 2px solid #af4fff;
  border-radius: 25px;
}

.search-form-input:hover {
  opacity: 0.6;
  cursor: pointer;
}

.search-form-input:active {
  outline: 2px solid #000000;
  opacity: 1;
}

.search-form-input:not(:placeholder-shown) {
  outline: 2px solid #000000;
  opacity: 1;
  border-radius: 25px;
}

.search-form-btn {
  display: none;

  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 18.96px;
}

.search-form-input:not(:placeholder-shown) + .search-form-btn {
  position: absolute;
  top: -4px;
  right: 0;
  padding: 9px 54px 8px;
  display: block;

  font-size: 16px;
  line-height: 19px;
  text-align: center;

  background-color: #ffe17f;
  border: 2px solid #000000;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  outline: none;
}

.search-form-input:not(:placeholder-shown) + .search-form-btn:focus {
  border: 2px solid #af4fff;
}

.search-form-input:not(:placeholder-shown) + .search-form-btn:hover {
  background-color: #000000;
  color: #ffffff;
}

.search-form-input:not(:placeholder-shown) + .search-form-btn:active {
  color: rgba(255, 255, 255, 0.3);
  border-color: #000000;
}

.navigation-user-list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  width: 501px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
  line-height: 19px;
  list-style-type: none;
}

.navigation-user-list-auth {
  width: 500px;
  display: grid;
  grid-template-columns: 140px 76px 124px 100px;
  gap: 20px;
}

.navigation-user-list-auth .navigation-user-link-sign-out {
  padding-left: 0;
}

.navigation-user-list-auth .navigation-user-basket {
  padding-left: 34px;
  background-position: 9px 1px;
}

.navigation-user-list-auth .navigation-user-quantity {
  left: -6px;
  top: -1px;
}

.navigation-user-item {
  max-width: 120px;
}

.navigation-user-item-name {
  max-width: 140px;
}

.navigation-user-item--none {
  display: none;
}

.navigation-user-item:first-child {
  margin-right: auto;
}

.navigation-user-item:hover {
  opacity: 0.6;
}

.navigation-user-item:active {
  opacity: 0.3;
}

.navigation-user-item:active .navigation-user-link {
  outline: none;
}

.navigation-user-item-compare {
  margin-right: 56px;
}

.navigation-user-link {
  position: relative;
  padding-left: 25px;
  color: inherit;
  text-decoration: none;
}

.navigation-user-link:focus {
  outline: none;
  border-radius: 15px;
}

.navigation-user-link:focus::before {
  position: absolute;
  top: -10px;
  left: -19px;

  content: "";
  width: 140%;
  height: 40px;
  border-radius: 25px;
  border: 2px solid #af4fff;
  background-color: transparent;
  box-sizing: border-box;
}

.navigation-user-log-in {
  margin-right: auto;
  padding-right: 5px;

  background-image: url("../img/log-in.svg");
  background-repeat: no-repeat;
  background-position: 0 3px;
  background-size: 13px 12px;
}

.navigation-user-item-name > .navigation-user-link:focus::before {
  width: 125%;
}

.navigation-user-link-sign-out {
  padding-right: 25px;
  opacity: 0.3;
}

.navigation-user-compare {
  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 4px 3px;
  background-size: 10px 12px;
}

.navigation-user-basket {
  position: relative;

  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: -1px 1px;
  background-size: 16px 14px;
}

.navigation-user-quantity {
  position: absolute;
  left: -16px;

  width: 21px;
  height: 21px;

  text-align: center;
  background-color: #ffffff;
  border-radius: 50%;
}

/* Popup */

.popup-basket {
  position: absolute;
  top: 33px;
  right: -63px;
  z-index: 3;

  width: 320px;
  min-height: 135px;
  display: none;

  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;

  background-color: #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}

.popup-basket::after {
  position: absolute;
  top: -6px;
  right: 156px;

  width: 14px;
  height: 6px;

  content: "";
  background: url("../img/triangle.svg") no-repeat;
}

.popup-basket--open {
  display: block;
}

.popup-basket-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.popup-basket-item {
  padding: 20px;

  display: flex;
  flex-wrap: wrap;
}

.popup-basket-item:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.popup-basket-link {
  display: flex;
  flex-wrap: wrap;

  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}

.popup-basket-link:focus {
  outline: none;
}

.popup-basket-link:focus .popup-basket-img {
  outline: 5px solid #af4fff;
}

.popup-basket-link:focus .popup-basket-title {
  color: #af4fff;
}

.popup-basket-link:hover {
  opacity: 0.6;
}

.popup-basket-link:active {
  opacity: 0.3;
}

.popup-basket-link:active .popup-basket-title {
  color: #ffffff;
}

.popup-basket-link:active .popup-basket-img {
  outline: none;
}

.popup-basket-img {
  margin-right: 23px;
}

.popup-basket-title {
  margin: 0;
  padding-right: 10px;
  padding-top: 2px;
  width: 180px;
  box-sizing: border-box;

  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.popup-basket-btn-delete {
  margin: 2px -5px 0 auto;
  padding: 10px;

  width: 11px;
  height: 11px;

  background: #000000 url("../img/cross.svg") no-repeat center;
  border: none;
  cursor: pointer;
}

.popup-basket-btn-delete:focus {
  outline: 2px solid #af4fff;
  border-radius: 50%;
}

.popup-basket-btn-delete:hover {
  opacity: 0.6;
}

.popup-basket-btn-delete:active {
  opacity: 0.3;
  outline: none;
}

.popup-basket-amount {
  padding: 12px 21px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  background-color: #1a1a1a;
}

.popup-basket-amount p {
  margin: 0;
}

.popup-basket-amount b {
  font-weight: 400;
}

.popup-basket-open {
  margin: 20px;
  margin-bottom: 21px;
  padding: 15px 0 14px;
  width: 280px;

  display: block;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21.13px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  letter-spacing: 3.6px;
  color: #000000;

  background-color: #ffffff;
}

.popup-basket-open:focus {
  outline: 5px solid #af4fff;
}

.popup-basket-open:hover {
  background-color: #ffe17f;
}

.popup-basket-open:active {
  outline: none;
  color: rgba(0, 0, 0, 0.3);
}

/* Окончание разметки popup */

.navigation-list {
  margin: 0 auto 153px;
  padding: 0;

  width: 1041px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;

  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  list-style-type: none;
}

.header-inner .navigation-list {
  margin-bottom: 38px;
}

.navigation-item {
  position: relative;
  margin: auto 30px auto 0;

  display: flex;
}

.navigation-item:not(.navigation-item-catalog) {
  max-width: 160px;
  min-height: 50px;
}

.navigation-item-warranty {
  margin-right: 45px;
}

.navigation-link:focus {
  outline: none;
}

.navigation-link:focus::before {
  position: absolute;
  top: 2px;
  left: -15px;

  content: "";
  width: 120%;
  height: 49px;
  border-radius: 26px;
  border: 2px solid #af4fff;
  background-color: transparent;
  box-sizing: border-box;
}

.navigation-link:active {
  outline: none;
}

.navigation-item:not(:first-child):hover .navigation-link::after {
  position: absolute;
  bottom: 5px;
  left: 0;
  content: "";
  height: 2px;
  width: 98%;
  background-color: #000000;
}

.navigation-item:not(:first-child):active {
  opacity: 0.3;
}

.navigation-item:not(:first-child):active .navigation-link {
  outline: none;
}

.navigation-item-catalog {
  width: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navigation-item-catalog:hover .navigation-btn-open {
  opacity: 1;
}

.navigation-item-catalog:hover {
  cursor: pointer;
}

.navigation-item-catalog:hover .catalog-list-display {
  display: grid;
}

.navigation-item-catalog:active {
  opacity: 0.3;
}

.navigation-item-catalog > .navigation-link {
  margin-right: 15px;
  max-width: 250px;
  word-spacing: -4px;
  letter-spacing: 4px;
}

.navigation-item-catalog > .navigation-link:focus {
  outline: none;
}

.navigation-item-catalog > .navigation-link:focus::before {
  position: absolute;
  top: 0;
  left: -19px;

  content: "";
  width: 52%;
  height: 49px;
  border-radius: 26px;
  border: 2px solid #af4fff;
  background-color: transparent;
  box-sizing: border-box;
}

.navigation-item-catalog:focus-within .catalog-list-display {
  display: grid;
}

.navigation-btn-open {
  width: 50px;
  height: 50px;

  opacity: 0.2;
  background-color: #ffe17f;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 50%;
  border: 2px solid #000000;
  cursor: pointer;
}

.navigation-btn-close {
  background-image: url("../img/minus.svg");
  opacity: 1;
}

.navigation-item:last-child {
  margin-right: -4px;
  margin-left: 46px;
}

.navigation-item:first-child {
  margin-right: auto;
}

.navigation-link {
  max-width: 150px;
  padding: 15px 0 14px;

  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  font-weight: 800;
}

.catalog-list {
  position: absolute;
  top: 51px;
  left: -59px;
  z-index: 1;

  margin: 0;
  padding: 31px 60px 57px;

  width: 1160px;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 220px 180px 180px;
  column-gap: 20px;
  row-gap: 15px;
  list-style-type: none;

  background-color: #ffe17f;
}

.catalog-list-display {
  display: none;
}

.catalog-list--open {
  display: block;
}

.catalog-item:last-child {
  grid-column: 1/2;
}

.catalog-item-link:focus {
  margin-left: -10px;
  padding: 0 10px;
  outline: 2px solid #af4fff;
  border-radius: 15px;
}

.catalog-item:hover .catalog-item-link {
  opacity: 0.6;
}

.catalog-item:active .catalog-item-link {
  opacity: 0.3;
}

.catalog-item-link {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #000000;
}

.main-container {
  flex-grow: 1;
}

.examples-of-goods {
  position: relative;

  margin: -150px auto 60px;

  width: 1160px;
}

.examples-of-goods-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.examples-of-goods-item {
  display: flex;
  justify-content: space-between;
}

.examples-of-goods-item--none {
  display: none;
}

.examples-of-goods-container-1 {
  position: relative;

  width: 560px;
}

.slider-btn {
  position: absolute;
  top: calc(50% - 40px);

  padding: 0;

  width: 40px;
  height: 80px;

  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;

  border: none;
  cursor: pointer;
}

.examples-of-goods-item-stick .slider-btn {
  top: 305px;
}

.slider-prev {
  left: 9px;

  background-image: url("../img/arrow-tall-left.svg");
}

.slider-next {
  right: 9px;

  background-image: url("../img/arrow-tall-right.svg");
}

.slider-btn:focus {
  outline: 2px solid #af4fff;
  border-radius: 4px;
}

.slider-btn:hover {
  opacity: 0.6;
}

.slider-btn:active {
  opacity: 0.3;
}

.examples-of-goods-img {
  max-width: 100%;
  height: auto;
}

.examples-of-goods-container-2 {
  position: relative;
  width: 560px;
}

.examples-of-goods-number {
  position: absolute;
  top: 81px;
  right: 49px;

  margin: 0;

  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-size: 180px;
  font-weight: 800;
  line-height: 30px;
  text-align: right;
  color: #ffffff;
}

.examples-of-goods-advantage {
  position: relative;
  margin: 0;
  padding-top: 121px;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.examples-of-goods-description {
  margin: 0;
  padding-top: 28px;
}

.examples-of-goods-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.examples-of-goods-link {
  margin: 36px 0 50px;
  padding: 14px 35px 16px 39px;

  display: inline-block;

  letter-spacing: 3.6px;
  font
}

.examples-of-goods-specifications {
  margin-left: -3px;
}

.examples-of-goods-value {
  width: 156px;
  padding-bottom: 8px;
  padding-right: 15px;
  box-sizing: border-box;

  font-size: 36px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
}

.examples-of-goods-specifications .examples-of-goods-value.examples-of-goods-value-time {
  padding-left: 0;
  padding-right: 1px;
}

.examples-of-goods-specifications .examples-of-goods-value.examples-of-goods-value-small {
  padding-left: 2px;
  width: 138px;
}

.examples-of-goods-value:last-of-type,
.examples-of-goods-definition:last-of-type {
  padding-left: 3px;
}

.examples-of-goods-definition {
  font-size: 16px;
  font-weight: 400;
}

.slider-product {
  margin: 40px 49px 0 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;

  list-style-type: none;
}

.slider-product-item {
  margin: 0 11px;
}

.slider-product-btn {
  margin: 0;
  padding: 0;

  width: 12px;
  height: 12px;

  background-color: #ffffff;

  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.slider-product-btn:focus {
  border-color: #af4fff;
  outline: none;
}

.slider-product-btn:hover {
  opacity: 0.6;
}

.slider-product-btn:active {
  opacity: 0.3;
}

.slider-product-btn-current {
  background-color: #000000;
  cursor: auto;
}

.slider-product-btn-current:hover {
  opacity: 1;
}

.slider-product-btn-current:active {
  opacity: 1;
}

.categories {
  margin: 0 auto 100px;

  width: 1160px;
}

.categories-list {
  margin: 0;

  width: 100%;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;

  list-style-type: none;
}

.categories-item {
  width: 160px;
}

.categories-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.5px;
  color: #000000;
  text-decoration: none;
}

.categories-link:focus-visible {
  outline: none;
}

.categories-link:focus .categories-wrap {
  outline: 5px solid #af4fff;
}

.categories-link:focus .categories-name {
  color: #af4fff;
}

.categories-link:hover .categories-wrap {
  background-color: #ffc700;
}

.categories-link:active .categories-wrap {
  outline: none;
}

.categories-link:active svg {
  opacity: 0.3;
}

.categories-link:active .categories-name {
  opacity: 0.3;
  color: #000000;
}

.categories-wrap {
  width: 160px;
  height: 160px;

  display: flex;

  background-color: #ffe17f;
}

.categories-wrap svg {
  margin: auto;
}

.categories-item:nth-child(2) svg {
  margin: 0 auto;
  margin-top: auto;
}

.categories-name {
  margin: 0;
  padding: 33px 0 81px;

  font-weight: 800;
}

.conditions {
  background-color: #f0f0f0;
}

.conditions-container {
  margin: 0 auto;

  width: 1160px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.conditions-slider {
  position: relative;

  margin: -100px 116px 0 0;
  padding: 80px 0 114px;
  width: 284px;

  list-style-type: none;
}

.conditions-slider::after {
  position: absolute;
  top: 0;
  right: 0;

  width: 7px;
  height: calc(100% - 69px);

  content: "";

  background-color: #000000;
}

.conditions-list {
  margin: 0;

  width: 760px;
  padding: 0;

  list-style-type: none;
}

.conditions-item {
  position: relative;
}

.conditions-item-delivery::after {
  position: absolute;
  top: 13px;
  right: 66px;
  content: "";
  width: 136px;
  height: 164px;
  background-image: url("../img/delivery-2.svg");
  background-repeat: no-repeat;
}

.conditions-item-warranty::after {
  position: absolute;
  top: -11px;
  right: 46px;
  content: "";
  width: 171px;
  height: 195px;
  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
}

.conditions-item-credit::after {
  position: absolute;
  top: -11px;
  right: 70px;
  content: "";
  width: 156px;
  height: 188px;
  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
}

.conditions-item-none {
  display: none;
}

.conditions-slider-item {
  margin-bottom: 25px;
}

.conditions-btn {
  padding: 9px 10px 10px;
  min-width: 160px;

  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;

  background: linear-gradient(to bottom, #f0f0f0 40%, #ffc700 40%, #ffc700 60%, #f0f0f0 60%);

  border: none;
  box-sizing: border-box;
}

.conditions-btn:focus {
  background: linear-gradient(to bottom, #f0f0f0 40%, #af4fff 40%, #af4fff 60%, #f0f0f0 60%);
  outline: none;
}

.conditions-btn:hover {
  background: #ffc700;
}

.conditions-slider-item--current .conditions-btn {
  color: #ffe17f;
  background: #000000;
}

.conditions-slider-item--current {
  margin-bottom: 24px;

  background-color: #000000;
}

.conditions-title {
  margin: -28px 0 32px;
  max-width: 500px;

  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
}

.conditions-description {
  margin: 0;
  padding-bottom: 40px;

  width: 500px;
  box-sizing: border-box;
}

.conditions-wrap {
  position: relative;

  text-align: center;

  background-color: #ffffff;
}

.conditions-special-delivery {
  position: relative;
  display: inline-block;

  margin-top: 90px;
  padding: 38px 0 39px 0;

  box-sizing: border-box;
  width: 1160px;

  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 23px;
  letter-spacing: 4px;
  color: #000000;

  background-color: #f0f0f0;
}

.conditions-special-delivery::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 125px;
  height: 100%;

  content: "";
  background: #ffe17f url("../img/delivery-1.svg") no-repeat center;
}

.conditions-special-delivery::after {
  position: absolute;
  top: 29px;
  right: 33px;

  content: "";
  width: 40px;
  height: 40px;

  background-color: #dcdcdc;
  background-image: url("../img/info.svg");
  background-repeat: no-repeat;
  background-position: center;

  opacity: 0.5;
  border-radius: 50%;
}

.conditions-special-delivery:focus {
  outline: 5px solid #af4fff;
}

.conditions-special-delivery:hover {
 background-color: #ebebeb;
}

.conditions-special-delivery:hover::before {
  background-color: #ffc700;
}

.conditions-special-delivery:hover::after {
  opacity: 1;
}

.conditions-special-delivery:active {
  opacity: 0.3;
  outline: none;
}

.conditions-btn-info {
  position: absolute;
  top: 119px;
  right: 33px;

  width: 40px;
  height: 40px;
  padding: 0;

  background-color: #dcdcdc;
  background-image: url("../img/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;

  border: none;
  border-radius: 50%;
}

.about-us-contacts-container {
  margin: 97px auto 0;

  width: 1160px;
  display: flex;
  flex-wrap: wrap;
}

.about-us {
  position: relative;
  margin-right: 100px;

  width: 500px;
}

.about-us::before,
.contacts::before {
  position: absolute;
  top: 0;
  left: 0;

  content: "";
  width: 80px;
  height: 7px;

  background-color: #000000;
}

.about-us-title {
  margin: 0;
  padding-top: 50px;

  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
}

.about-us-description {
  margin: 0;
  padding-top: 45px;
}

.about-us-description:last-of-type {
  padding-top: 30px;
}

.about-us-list {
  margin: 75px 0 0 35px;
  padding: 0;

  list-style-type: none;
}

.about-us-item {
  font-weight: 700;
  color: #000000;
  line-height: 20px;
}

.about-us-item:not(:last-child) {
  padding-bottom: 20px;
}

.contacts {
  position: relative;
  width: 515px;
}

.about-us-link {
  margin: 58px 0 70px 0;
  padding: 14px 14px 16px 18px;
  display: inline-block;

  letter-spacing: 3.6px;
}

.contacts-title {
  margin: 0;
  padding-top: 50px;

  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.contacts-description {
  margin: 0;
  padding-top: 45px;
}

.contacts-subtitle {
  margin: 30px 0 0 0;

  font-weight: 700;
  font-size: 24px;
}

.contacts-address-text {
  margin: 0;
  padding-top: 15px;
  font-style: normal;
}

.contacts-phone {
  color: inherit;
  font-style: normal;
}

.contacts-phone:focus {
  outline: 2px solid #af4fff;
  border-radius: 5px;
}

.contacts-schedule {
  margin: 15px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.contacts-link {
  margin: 53px 0 70px 0;
  padding: 14px 29px 16px 34px;
  display: inline-block;

  letter-spacing: 3.6px;
}

.subscribe {
  background-color: #f0f0f0;
}

.subscribe-container {
  margin: 0 auto;

  width: 1160px;
  display: grid;
  grid-template-columns: 600px 280px 280px;
  grid-template-areas: "title description description"
    "email email comment";
}

.subscribe-title {
  margin: 0;
  padding: 76px 181px 58px 0;
  grid-area: title;

  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
}

.subscribe-description {
  margin: 0;
  padding: 86px 31px 0 0;
  grid-area: description;
}

.subscribe-form {
  margin-bottom: 131px;
  grid-area: email;
}

.subscribe-form form {
  display: flex;
}

.subscribe-input {
  margin: 0;

  width: 600px;
  padding: 13px 0 6px;

  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  word-spacing: 1px;

  background-color: #f0f0f0;

  border: none;
  border-bottom: 3px solid rgb(0, 0, 0, 0.1);
}

.subscribe-input::placeholder {
  font-size: 18px;
}

.subscribe-input:focus {
  background-color: #dcdcdc;
  outline: none;
}

.subscribe-input:hover {
  border-bottom-color: rgba(0, 0, 0, 0.2);
}

.subscribe-input:not(:placeholder-shown) {
  border-bottom-color: rgba(0, 0, 0, 1);
  background-color: #f0f0f0;
}

.subscribe-input-error {
  border-bottom-color: #ff3d3d;
  background-color: #f0f0f0;
}

.subscribe-btn {
  padding: 15px 36px 14px 40px;
  max-width: 270px;

  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  border: 3px solid rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
}

.subscribe-btn:focus {
  outline: none;
  border-color: #af4fff;
}

.subscribe-btn:hover {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}

.subscribe-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-comment {
  grid-area: comment;
  margin: 14px 1px 0 auto;
  margin-left: auto;
  padding-left: 35px;
  background: url("../img/check-mark.svg") no-repeat left 8px;
}

.page-footer {
  background-color: #444444;
  color: #ffffff;
}

.page-footer-container {
  margin: 0 auto;

  width: 1160px;
  display: grid;
  grid-template-columns: 250px 660px 250px;
  grid-template-areas: "logo logo logo"
    "addres footer-nav phone"
    "line social logo-html";
}

.logo-footer {
  margin: 62px 0 26px -2px;

  display: block;
  grid-area: logo;
}

.page-footer-address {
  grid-area: addres;
  align-self: center;

  font-size: 16px;
  font-style: normal;
  line-height: 19px;
}

.page-footer-address-text {
  margin: 0;
}

.page-footer-phone {
  margin-right: -10px;
  margin-top: -8px;
  padding: 0 10px;

  display: block;
  grid-area: phone;

  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 30px;
  align-self: center;
  justify-self: end;
  color: inherit;
  text-decoration: none;
}

.page-footer-phone:focus {
  outline: 2px solid #af4fff;
  border-radius: 18px;
}

.page-footer-phone:hover {
  color: #ffc700;
}

.page-footer-phone:active {
  outline: none;
  opacity: 0.3;
}

.page-footer-list {
  margin: -8px 0 0 108px;

  width: 490px;
  padding: 0;
  grid-area: footer-nav;
  align-self: center;

  display: grid;
  grid-template-columns: repeat(3, 148px);
  gap: 7px;

  list-style-type: none;
}

.page-footer-link {
  position: relative;
  padding: 14px 5px 15px;

  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 3.6px;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.page-footer-item:nth-child(2) .page-footer-link {
  padding-left: 7px;
}

.page-footer-item:nth-child(3) .page-footer-link {
  padding-left: 3px;
}

.page-footer-link:focus {
  outline: none;
}

.page-footer-link:focus::before {
  position: absolute;
  top: 0;
  left: -17px;

  content: "";
  width: 120%;
  height: 48px;
  border-radius: 25px;
  border: 2px solid #af4fff;
  background-color: transparent;
  box-sizing: border-box;
}

.page-footer-link:hover::after {
  position: absolute;
  left: 5px;
  bottom: 4px;

  content: "";
  height: 2px;
  width: 90%;
  background-color: #ffc700;
}

.page-footer-link:hover {
  color: #ffc700;
}

.page-footer-link:active {
  opacity: 0.3;
  outline: none;
}

.footer-social {
  padding: 49px 0 61px;
  grid-area: social;
  align-self: center;
  justify-self: center;
}

.footer-social-list {
  margin: 0;

  padding: 0;
  display: flex;
  flex-wrap: wrap;

  list-style-type: none;
}

.footer-social-item:not(:last-child) {
  margin-right: 15px;
}

.footer-social-icon {
  width: 40px;
  height: 40px;
  display: flex;

  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.footer-social-icon svg {
  margin: auto;
}

.footer-social-icon:focus {
  outline: 5px solid #af4fff;
  background-color: #444444;
}

.footer-social-icon:focus path {
  fill: #ffffff;
}

.footer-social-icon:hover {
  background-color: #ffc700;
}

.footer-social-icon:active {
  outline: none;
}

.footer-social-icon:active path {
  fill: rgba(68, 68, 68, 0.3);
}

.logo-htmlacademy {
  margin: -14px -11px 0 0;
  padding: 10px 10px 0;

  grid-area: logo-html;
  align-self: center;
  justify-self: end;
}

.logo-htmlacademy:focus {
  outline: 2px solid #af4fff;
  border-radius: 10px;
}

.logo-htmlacademy:hover path {
  fill: #ffffff;
}

.logo-htmlacademy:active {
  opacity: 0.3;
  outline: none;
}

.footer-line {
  margin-top: -11px;
  width: 80px;
  height: 7px;

  grid-area: line;
  align-self: center;

  background-color: #ffc700;
}

/* внутренняя страница */

.main-inner {
  color: #000000;
}

.inner-header {
  margin: 0 auto;

  width: 1160px;
}

.main-inner-subtitle {
  margin: 0;
  padding: 38px 0 17px 60px;

  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.breadcrumbs {
  margin: 0 0 44px 58px;
  padding: 0;

  display: flex;
  flex-wrap: wrap;

  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 25px;
}

.breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  top: 13px;
  right: -10px;

  content: "";
  width: 4px;
  height: 7px;
  background: url("../img/arrow-bread.svg") no-repeat;
}

.breadcrumbs-link {
  padding: 5px 9px 6px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}

.breadcrumbs-link:first-child {
  margin-left: -8px;
}

.breadcrumbs-link:focus {
  outline: 5px solid #af4fff;
}

.breadcrumbs-link:hover {
  color: #000000;
}

.breadcrumbs-link:active {
  outline: none;
  opacity: 0.3;
}

.inner-container {
  margin: 0 auto;

  width: 1160px;
  display: flex;
}

.filter {
  position: relative;

  width: 328px;
  background: #e5e5e5;
}

.filter::before {
  position: absolute;
  left: -1000px;

  content: "";
  width: 1000px;
  height: 100%;

  background: #e5e5e5;
}

.catalog-filter-name {
  position: relative;

  margin: 0;
  padding: 25px 0 26px 60px;

  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 3.2px;
  text-transform: uppercase;

  background-color: #dcdcdc;
}

.catalog-filter-name::before {
  position: absolute;
  top: 0;
  left: -1000px;

  content: "";
  width: 1000px;
  height: 100%;

  background: #dcdcdc;
}

.catalog-filter-form {
  margin-top: 69px;
}

.catalog-filter-group {
  margin: 0 0 31px 60px;
  padding: 0;
  width: 200px;

  border: none;
}

.catalog-filter-group-color {
  margin-bottom: 39px;
}

.catalog-filter-group-bluetooth {
  margin-bottom: 34px;
}

.catalog-filter-title {
  position: relative;
  margin-bottom: 37px;
  padding: 0;
  padding-top: 14px;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.3px;
}

.catalog-filter-title::before {
  position: absolute;
  top: 0;
  left: -1px;

  width: 200px;
  height: 2px;

  content: "";

  background-color: #000000;
}

/* Range */
.range-scale {
  position: relative;

  margin-bottom: 36px;
  height: 2px;

  background-color: #dcdcdc;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  top: -8px;

  width: 18px;
  height: 18px;

  background-color: #ebebeb;

  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:focus {
  border-color: #af4fff;
  outline: none;
}

.toggle-min:focus ~ .catalog-filter-label-min,
.toggle-max:focus ~ .catalog-filter-label-max {
  color: #af4fff;
  opacity: 0.3;
}

.range-toggle:hover {
  border-color: rgba(0, 0, 0, 0.5);
}

.range-toggle:active {
  opacity: 1;
  background-color: #000000;
  border-color: #000000;
}

.toggle-min:active ~ .catalog-filter-label-min,
.toggle-max:active ~ .catalog-filter-label-max {
  color: #000000;
  opacity: 1;
}

.toggle-min {
  left: 0;
}

.toggle-max {
  left: 110px;
}

.catalog-filter-label {
  position: absolute;
  top: 18px;

  margin-right: 2px;

  display: flex;

  font-size: 15px;
  line-height: 17.78px;
  color: rgba(0, 0, 0, 0.3);
  align-items: center;
}

.catalog-filter-label:focus {
  color: #af4fff;
  opacity: 0.3;
}

.catalog-filter-label:active {
  color: #000000;
  opacity: 1;
}

.range-input:focus {
  outline: none;
  background-color: #e5e5e5;
}

.catalog-filter-label-min {
  left: -7px;
}

.catalog-filter-label-max {
  left: 88px;
}

.range-input {
  padding: 0;
  padding-left: 5px;
  width: 60px;

  font: inherit;
  color: inherit;
  background-color: transparent;
  text-align: left;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

.control-label {
  font-size: 16px;
  line-height: 19px;
}

.catalog-filter-btn {
  margin-left: 60px;
  padding: 14px 35px 16px 40px;

  letter-spacing: 3.6px;
  background: linear-gradient(to bottom, #e5e5e5 40%, #ffe17f 40%, #ffe17f 55%, #e5e5e5 55%);

  border: none;
}

.catalog-filter-btn:focus {
  background: linear-gradient(to bottom, #e5e5e5 40%, #af4fff 40%, #af4fff 55%, #e5e5e5 55%);
}

.catalog-filter-list {
  margin: 0;
  margin-top: -15px;
  padding: 0;

  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  padding-bottom: 10px;
}

.control {
  position: relative;
  display: block;
  padding-left: 37px;
  cursor: pointer;
}

.control-mark {
  position: absolute;
  top: 6px;
  left: 0;

  width: 20px;
  height: 20px;

  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.control-input[type="checkbox"]:checked + .control-mark {
  border-color: #000000;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  content: "";
  width: 10px;
  height: 10px;
  background: url("../img/check-mark-black.svg") no-repeat center;
}

.control-input:focus ~ .control-mark {
  border-color: #af4fff;
}

.control-input:focus ~ .control-label {
  color: #af4fff;
}

.control-input:checked:focus ~ .control-mark {
  border-color: #af4fff;
}

.control-input[type="checkbox"]:checked:focus ~ .control-mark::before {
  background-image: url("../img/check-mark-purple.svg");
}

.control-input:checked:hover ~ .control-mark,
.control-input:checked:hover ~ .control-label {
  opacity: 0.5;
}

.control-input:active ~ .control-mark,
.control-input:active ~ .control-label {
  opacity: 0.2;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark {
  border-color: #000000;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 4px;
  left: 4px;

  width: 8px;
  height: 8px;
  content: "";

  background-color: #000000;
  border-radius: 50%;
}

.control-input[type="radio"]:checked:focus ~ .control-mark {
  border-color: #af4fff;
}

.control-input[type="radio"]:checked:focus ~ .control-mark::before {
  background-color: #af4fff;
}

.sorting-product-container {
  width: 832px;
}

.sorting {
  position: relative;
  padding: 19px 0 21px 25px;

  background-color: #ebebeb;
  box-shadow: 35vw 0 0 #ebebeb;
}

.sorting-type {
  display: flex;
  align-items: center;
}

.sorting-label {
  margin: 0;
  padding-left: 47px;

  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 3.2px;
  text-transform: uppercase;

  background-color: #ebebeb;
}

.sorting-price-label-container {
  margin-left: auto;
}

.sorting-price-label {
  position: relative;
  display: block;
}

.sorting-price-mark {
  position: absolute;
  top: -14px;

  width: 30px;
  height: 30px;

  background: url("../img/sorting-price.svg") no-repeat center;
  opacity: 0.1;
}

.sorting-price-mark-increase {
  right: 20px;
}

.sorting-price-mark-decrease {
  transform: rotate(180deg);
  right: -10px;
}

.sorting-price:checked ~ .sorting-price-mark {
  opacity: 1;
}

.sorting-price:focus ~ .sorting-price-mark {
  outline: 5px solid #af4fff;
}

.sorting-price-mark:hover {
  opacity: 0.3;
}

.select-control {
  margin-left: 31px;
  padding: 6px 41px 6px 19px;

  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.96px;

  background: #ebebeb url("../img/arrow-select.svg") no-repeat center right 14px;

  border: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.select-control:focus {
  outline: 5px solid #af4fff;
}

.select-control:hover {
  opacity: 0.6;
}

.select-control:active {
  opacity: 0.3;
  outline: none;
}

.product-list {
  margin: 69px 0 42px 72px;

  display: grid;
  grid-template-columns: repeat(2, 360px);
  column-gap: 40px;
  row-gap: 42px;
}

.product-card {
  position: relative;
  padding-bottom: 4px;
}

.product-card:hover img {
  opacity: 0.3;
}

.product-card:hover .product-btn-more-info{
  display: block;
}

.product-btn-more-info {
  display: none;
  position: absolute;
  top: 171px;
  left: 90px;
  right: 90px;

  padding: 9px 15px 11px 19px;

  background: linear-gradient(to bottom, transparent 38%, #ffc700 38%, #ffc700 58%, transparent 58%);
  letter-spacing: 3.6px;
}

.product-link {
  display: grid;
  grid-template-columns: 280px auto;
  row-gap: 32px;

  color: inherit;
  text-decoration: none;
}

.product-card-new .product-link::before {
  position: absolute;
  top: 27px;
  right: 27px;

  content: "";
  width: 60px;
  height: 60px;
  background: url("../img/new.svg") no-repeat;
}

.product-link:focus {
  outline: none;
}

.product-link:focus .product-img {
  outline: 5px solid #af4fff;
}

.product-link:focus,
.product-link:focus .product-price {
  color: #af4fff;
}

.product-img {
  grid-column: 1 / -1;
}

.product-title {
  margin: 0;
  padding-right: 10px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -0.37px;
}

.product-price {
  padding: 3px 2px 0 0;
  justify-self: end;

  font-size: 18px;
  color: #444444;
  font-weight: 400;
  line-height: 21px;
}

.product-btn-more-info:hover {
  background: #ffc700;
}

.pagination-show-more {
  margin-bottom: 51px;
  margin-left: auto;
  padding: 15px;

  width: 760px;
  display: block;
  box-sizing: border-box;

  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #000000;

  background-color: #ffffff;

  border: 3px solid rgba(1, 1, 1, 0.1);
}

.pagination-show-more:focus {
  outline: 2px solid #af4fff;
  border: 3px solid #af4fff;
}

.pagination-show-more:hover {
  border: 3px solid #000000;
}

.pagination-show-more:active {
  outline: none;
  opacity: 0.3;
}

.pagination {
  margin-bottom: 77px;
  margin-left: auto;

  width: 760px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;

  background-color: #ebebeb;
}

.pagination-move {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  opacity: 1;

  border: none;
  background-color: #ebebeb;

  cursor: pointer;
}

.pagination-move:focus {
  outline: 5px solid #af4fff;
}

.pagination-move:hover {
  background: #dcdcdc;
}

.pagination-move:active {
  outline: none;
  opacity: 0.3;
}

.pagination-prev {
  margin-right: auto;
  padding: 26px 18px 25px 29px;
}

.pagination-next {
  margin-left: auto;
  padding: 26px 27px 25px 20px;
}

.pagination-number {
  margin: auto 0 auto 53px;
  padding: 0;
  max-width: 400px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style-type: none;
}

.pagination-link {
  padding: 8px 15px 11px 14px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(68, 68, 68, 0.3);
}

.pagination-item:nth-child(4) .pagination-link,
.pagination-item:last-child .pagination-link {
  padding: 8px 10px 11px 16px;
}

.pagination-link:focus {
  outline: 5px solid #af4fff;
}

.pagination-link:hover {
  opacity: 1;
}

.pagination-link:active {
  outline: none;
  opacity: 0.1;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;

  margin: auto;
  padding: 63px 70px 66px;

  background-color: #ffffff;
  border: 10px solid #000000;
  box-sizing: border-box;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}

.modal-delivery {
  width: 920px;
}

.modal-delivery-wrap {
  margin-bottom: 63px;

  display: flex;
  justify-content: space-between;
}

.modal-delivery-title {
  margin: 0;
  padding: 0;
  max-width: 700px;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 50px;
  line-height: 50px;
}

.modal-delivery-form {
  display: grid;
  grid-template-columns: 360px 160px 160px;
  column-gap: 40px;
}

.modal-delivery-form-name {
  position: relative;
}

.modal-delivery-form-name::after {
  position: absolute;
  top: 58px;
  right: 21px;

  content: "";
  width: 13px;
  height: 12px;

  background: url("../img/person.svg") no-repeat;
}

.modal-delivery-form-email {
  position: relative;
  grid-column: 2/-1;
}

.modal-delivery-form-email::after {
  position: absolute;
  top: 58px;
  right: 21px;

  content: "";
  width: 15px;
  height: 12px;

  background: url("../img/email.svg") no-repeat;
}

.modal-delivery-form-order {
  grid-column: 1/3;
}

.modal-delivery-btn {
  position: relative;

  margin: 4px -12px 0 0;
  padding: 0;

  width: 50px;
  height: 50px;

  box-sizing: border-box;
  border: none;
  background: #ffffff url("../img/cross-black.svg") no-repeat center;
}

.modal-delivery-btn:focus {
  outline: 5px solid #af4fff;
  border-radius: 50%;
}

.modal-delivery-btn:hover {
  opacity: 0.6;
}

.modal-delivery-btn:active {
  opacity: 0.3;
  outline: none;
}

.field-group {
  margin: 0;
  margin-bottom: 14px;

  display: flex;
  flex-direction: column;
}

.form-label {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;

  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  letter-spacing: -0.4px;
}

.field {
  padding-left: 20px;
  height: 58px;

  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;

  border: none;
  background-color: #f0f0f0;
}

.field:not(:placeholder-shown) {
  outline: 3px solid #000000;
  background-color: #ffffff;
}

/* .field:not(:placeholder-shown):focus {
  outline: none;
} */

.field:focus {
  outline: 5px solid #af4fff;
}

.field-error {
  outline: 3px solid #ff3d3d;
  background-color: #ffffff;
}

.field-error ~ .form-comment {
  color: #ff3d3d;
}

.form-comment {
  margin: 0;
  margin-top: 6px;

  font-size: 14px;
  line-height: 20px;
}

.modal-delivery-form-quantity {
  position: relative;
}

.quantity-input {
  display: flex;
}

.quantity-input-active {
  outline: 3px solid #000000;
  background-color: #ffffff;
}

.quantity-input-btn {
  position: relative;
  padding: 0;
  width: 50px;

  display: flex;

  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

.quantity-input-btn svg {
  margin: auto;
}

.quantity-input-btn path {
  fill: rgba(0, 0, 0, 0.3);
}

.quantity-input-btn:hover path {
  fill: rgba(0, 0, 0, 1);
}

.quantity-input-btn:focus {
  outline: none;
}

.quantity-input-btn:focus svg {
  padding: 5px;
  border-radius: 50%;
  outline: 2px solid #af4fff;
}

.quantity-input-btn-minus:focus svg {
  display: block;
  padding: 10px 4px;
}

.quantity-input-btn-minus:focus::before,
.quantity-input-btn-plus:focus::before {
  position: absolute;
  top: 0;

  content: "";
  width: 160px;
  height: 60px;

  background-color: transparent;
  outline: 5px solid #af4fff;
}

.quantity-input-btn-plus:focus::before {
  right: 0;
}

.field-quantity {
  position: relative;

  padding: 0;
  width: 60px;

  text-align: center;
  box-sizing: border-box;
  appearance: textfield;
}

.field-quantity::-webkit-outer-spin-button,
.field-quantity::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

.quantity-input-active {
  outline: 3px solid #000000;
  background-color: #ffffff;
}

.quantity-input-error {
  outline: 3px solid #ff3d3d;
  background-color: #ffffff;
}

.quantity-input .field-quantity:focus {
  outline: none;
}

.field-quantity:placeholder-shown {
  outline: none;
  background-color: #f0f0f0;
}

.field-quantity:not(:placeholder-shown) {
  outline: none;
  background-color: #ffffff;
}

.form-quantity-info {
  position: absolute;
  top: -2px;
  left: 120px;

  width: 26px;
  height: 26px;

  border: none;
  border-radius: 50%;
  background: #ffe17f url("../img/info.svg") no-repeat center;
}

.form-quantity-info:focus {
  outline: 3px solid #af4fff;
}

.form-quantity-info-text {
  position: absolute;
  top: 35px;
  right: -20px;

  margin: 0;
  padding: 19px 17px 20px 19px;
  width: 200px;
  display: none;

  color: #ffffff;
  font-size: 16px;
  line-height: 20px;

  background-color: #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.form-quantity-info-text::before {
  position: absolute;
  top: -6px;
  right: 40px;

  content: "";
  width: 14px;
  height: 6px;

  background: url("../img/triangle.svg") no-repeat;
}

.form-quantity-info-text p {
  margin: 0;
  padding: 0;
}

.form-quantity-info:hover ~ .form-quantity-info-text {
  display: block;
}

.form-quantity-info:focus-within ~ .form-quantity-info-text {
  display: block;
}

.modal-form-submit {
  justify-self: start;

  margin-top: 31px;
  padding: 9px 28px 11px 31px;


  letter-spacing: 3.6px;

  background: linear-gradient(to bottom, #ffffff 40%, #ffc700 40%, #ffc700 55%, #ffffff 55%);
}

.modal-form-submit:hover {
  background: #ffc700;
}
