@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;

  display: flex;
  flex-direction: column;
  min-height: 100%;

  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;

  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn-yellow {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;

  background: linear-gradient(to bottom, white 40%, #FFE17F 40%, #FFE17F 55%, white 55%);
}

.btn-yellow:focus {
  outline: none;
  background: linear-gradient(to bottom, white 40%, #AF4FFF 40%, #AF4FFF 55%, white 55%);
}

.btn-yellow:hover {
  background: #FFE17F;
}

.btn-yellow:active {
  opacity: 0.3;
}

.page-header {
  position: relative;

  margin: 40px auto 0;

  width: 1160px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  color: #000000;
  background-color: #FFE17F;
}

.logo-link {
  width: 145px;
  display: block;
}

.logo-link:focus {
  outline: 2px solid #AF4FFF;
  border-radius: 10px;
}

.logo-link:active {
  outline: none;
}

.logo-header {
  margin: -22px 0 36px 60px;
}

.page-header-container {
  position: relative;

  margin: 0 auto;

  width: 1041px;
  display: flex;
  justify-content: space-between;
}

.search-form {
  margin-top: -5px;

  width: 516px;
  box-sizing: border-box;
}

.search-form-input {
  padding-left: 36px;

  width: 480px;
  height: 30px;

  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 0 6px;

  border: none;
  background-color: #FFE17F;

  cursor: pointer;
}

.search-form-input::placeholder {
  font-size: 16px;
  line-height: 19px;
  opacity: 0.3;
  background-color: #FFE17F;
  color: #000000;
}

.search-form-input:focus {
  outline: 2px solid #AF4FFF;
  border-radius: 15px;
}

.search-form-input:hover {
  opacity: 0.6;
  cursor: pointer;
}

.search-form-input:active {
  outline: 2px solid #000000;
  opacity: 1;
}

.search-form-btn {
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  background-color: #FFE17F;
}

.navigation-user-list {
  margin: 0;
  margin-bottom: 44px;
  padding: 0;

  width: 501px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
  line-height: 19px;
  list-style-type: none;
}

.navigation-user-item--none {
  display: none;
}

.navigation-user-item:first-child {
  margin-right: auto;
}

.navigation-user-item:hover {
  opacity: 0.6;
}

.navigation-user-item:active {
  opacity: 0.3;
}

.navigation-user-item:active .navigation-user-link {
  outline: none;
}

.navigation-user-link {
  padding-left: 25px;
}

.navigation-user-link:focus {
  outline: 2px solid #AF4FFF;
  border-radius: 15px;
}

.navigation-user-log-in {
  margin-right: auto;

  background-image: url("../img/log_in.svg");
  background-repeat: no-repeat;
  background-position: 0 3px;
  background-size: 13px 12px;
}

.navigation-user-link-sign-out {
  padding-right: 25px;
  opacity: 0.3;
}

.navigation-user-compare {
  margin-right: 30px;
  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 3px;
  background-size: 10px 12px;
}

.navigation-user-basket {
  position: relative;

  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 1px;
  background-size: 16px 14px;
}

.navigation-user-link {
  color: inherit;
  text-decoration: none;
}

.navigation-user-quantity {
  position: absolute;
  left: -16px;

  width: 21px;
  height: 21px;

  text-align: center;
  background-color: #FFFFFF;
  border-radius: 50%;
}

.popup-basket {
  position: absolute;
  width: 320px;
  background-color: #000000;
  color: #FFFFFF;
}

.popup-basket--none {
  display: none;
}

.navigation-list {
  margin: 0 auto 167px;
  padding: 0;

  width: 1041px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  list-style-type: none;
}

.header-inner .navigation-list {
  margin-bottom: 53px;
}

.navigation-item {
  position: relative;
  margin-right: 42px;
}

.navigation-link:focus {
  outline: 2px solid #AF4FFF;
  border-radius: 15px;
}

.navigation-link:active {
  outline: none;
}

.navigation-item:not(:first-child):hover  .navigation-link::after{
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  height: 2px;
  width: 98%;
  background-color: #000000;
}

.navigation-item:not(:first-child):active {
  opacity: 0.3;
}

.navigation-item:not(:first-child):active .navigation-link{
  outline: none;
}

.navigation-item-catalog {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-item-catalog:hover .navigation-btn {
  opacity: 1;
}

.navigation-item-catalog:hover {
  cursor: pointer;
}

.navigation-item-catalog:active {
  opacity: 0.3;
}

.navigation-item-catalog > .navigation-link {
  margin-right: 15px;
}

.navigation-btn {
  width: 50px;
  height: 50px;

  opacity: 0.2;
  background-color: #FFE17F;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 50%;
  border: 2px solid #000000;
}

.navigation-item:last-child {
  margin-right: 0;
  margin-left: 46px;
}

.navigation-item:first-child {
  margin-right: auto;
}

.navigation-link {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.catalog-list {
  position: absolute;
  top: 180px;
  z-index: 2;

  margin: 0;
  padding: 33px 60px 50px;

  width: 1160px;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 240px 200px 200px;
  list-style-type: none;

  background-color: #FFE17F;
}

.catalog-list--none {
  display: none;
}

.catalog-item:last-child {
  grid-column: 1/2;
}

.catalog-item-link:focus {
  outline: 2px solid #AF4FFF;
  border-radius: 15px;
}

.catalog-item:hover .catalog-item-link {
  opacity: 0.6;
}

.catalog-item:active .catalog-item-link {
  opacity: 0.3;
}

.catalog-item-link {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #000000;
}

.main-container {
  flex-grow: 1;
}

.exsamples-of-goods {
  position: relative;

  margin: -150px auto 70px;

  width: 1160px;
}

.exsamples-of-goods-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.exsamples-of-goods-item {
  display: flex;
  justify-content: space-between;
}

.exsamples-of-goods-item--none {
  display: none;
}

.exsamples-of-goods-container-1 {
  position: relative;

  width: 560px;
}

.slider-btn {
  position: absolute;
  top: calc(50% - 40px);

  padding: 0;

  width: 40px;
  height: 80px;

  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;

  border: none;
}

.slider-prev {
  left: 9px;

  background-image: url("../img/arrow-tall-left.svg");
}

.slider-next {
  right: 9px;

  background-image: url("../img/arrow-tall-right.svg");
}

.slider-btn:focus {
  outline: 2px solid #AF4FFF;
  border-radius: 4px;
}

.slider-btn:hover {
  opacity: 0.6;
}

.slider-btn:active {
  opacity: 0.3;
}

.exsamples-of-goods-img {
  max-width: 100%;
  height: auto;
}

.exsamples-of-goods-container-2 {
  position: relative;
  width: 560px;
}

.exsamples-of-goods-number {
  position: absolute;
  top: 81px;
  right: 49px;

  margin: 0;

  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-size: 180px;
  font-weight: 800;
  line-height: 30px;
  text-align: right;
  color: #FFFFFF;
}

.exsamples-of-goods-advantage {
  position: relative;
  margin: 0;
  padding-top: 121px;

  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.exsamples-of-goods-description {
  margin: 0;
  padding-top: 19px;
}

.exsamples-of-goods-link  {
  margin: 16px 0 54px;
  padding: 14px 25px 16px;
  padding-left: 25px;
  padding-right: 25px;

  display: inline-block;
}

.exsamples-of-goods-value {
  width: 160px;
  padding-bottom: 19px;

  font-size: 36px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
}

.exsamples-of-goods-definition {
  font-size: 16px;
  font-weight: 400;
}

.clider-pagination {
  position: absolute;
  top: 318px;
  right: 101px;

  margin: 0;
  padding: 0;

  display: flex;

  list-style-type: none;
}

.categories {
  margin: 0 auto 100px;

  width: 1160px;
}

.categories-list {
  margin: 0;

  width: 100%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style-type: none;
}

.categories-item {
  width: 160px;
}

.categories-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.5px;
  color: #000000;
  text-decoration: none;
}

.categories-link:focus-visible {
  outline: none;
}

.categories-link:focus .categories-wrap{
  outline: 5px solid #AF4FFF;
}

.categories-link:focus .categories-name {
  color: #AF4FFF;
}

.categories-link:hover .categories-wrap{
  background-color: #FFC700;
}

.categories-link:active .categories-wrap {
  outline: none;
}

.categories-link:active svg{
  opacity: 0.3;
}

.categories-link:active .categories-name {
  opacity: 0.3;
  color: #000000;
}

.categories-wrap {
  width: 160px;
  height: 160px;

  display: flex;

  background-color: #FFE17F;
}

.categories-wrap svg {
  margin: auto;
}

.categories-item:nth-child(2) svg {
  margin: 0 auto;
  margin-top: auto;
}

.categories-name {
  margin: 0;
  padding: 20px 0 69px;
}

.conditions {
  background-color: #F0F0F0;
}

.conditions-container {
  margin: 0 auto;

  width: 1160px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.conditions-slider {
  position: relative;

  margin: -100px 120px 0 0;

  width: 280px;
  padding: 80px 0 66px;

  list-style-type: none;
}

.conditions-slider::after {
  position: absolute;
  top: 0;
  right: 0;

  width: 7px;
  height: 319px;

  content: "";

  background-color: #000000;
}

.conditions-list {
  margin: 0;

  width: 760px;
  padding: 0;
}

.conditions-item {
  position: relative;
}

.conditions-item-delivery::after {
  position: absolute;
  top: 13px;
  right: 66px;
  content: "";
  width: 136px;
  height: 164px;
  background-image: url("../img/delivery-2.svg");
  background-repeat: no-repeat;
}

.conditions-item-warranty::after {
  position: absolute;
  top: -13px;
  right: 66px;
  content: "";
  width: 171px;
  height: 195px;
  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
}

.conditions-item-credit::after {
  position: absolute;
  top: -15px;
  right: 66px;
  content: "";
  width: 156px;
  height: 188px;
  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
}

.conditions-item-none {
  display: none;
}

.conditions-slider-item {
  margin-bottom: 45px;
}

.conditions-btn {
  padding-top: 9px;
  padding-bottom: 11px;
  min-width: 160px;

  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000000;

  background-color: #F0F0F0;
  background: linear-gradient(to bottom, #F0F0F0 40%, #FFC700 40%, #FFC700 55%, #F0F0F0 55%);

  border: none;
}

.conditions-btn:focus {
  background: linear-gradient(to bottom, #F0F0F0 40%, #AF4FFF 40%, #AF4FFF 55%, #F0F0F0 55%);
  outline: none;
}

.conditions-btn:hover {
  background: #FFC700;
}

.conditions-slider-item--current .conditions-btn {
  color: #FFE17F;
  background: #000000;
}

.conditions-slider-item--current {
  margin-bottom: 33px;

  background-color: #000000;
}

.conditions-list {
  list-style-type: none;
}

.conditions-title {
  margin: -28px 0 24px;

  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.conditions-description {
  margin: 0;

  width: 500px;
  box-sizing: border-box;
}

.conditions-wrap {
  position: relative;

  text-align: center;

  background-color: #FFFFFF;
}

.conditions-special-delivery {
  position: relative;
  display: inline-block;

  margin-top: 90px;
  padding: 37px 0 40px 0;

  box-sizing: border-box;
  width: 1160px;

  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 3px;
  color: #000000;

  background-color: #F0F0F0;
}

.conditions-special-delivery::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 125px;
  height: 100%;

  content: "";
  background: #FFE17F url("../img/delivery-1.svg") no-repeat center;
}

.conditions-special-delivery::after {
  position: absolute;
  top: 29px;
  right: 33px;

  content: "";
  width: 40px;
  height: 40px;

  background-color: #DCDCDC;
  background-image: url("../img/info.svg");
  background-repeat: no-repeat;
  background-position: center;

  opacity: 0.5;
  border-radius: 50%;
}

.conditions-special-delivery:focus {
  outline: 5px solid #AF4FFF;
}

.conditions-special-delivery:hover:before {
  background-color: #FFC700;
}

.conditions-special-delivery:hover:after {
  opacity: 1;
}

.conditions-special-delivery:active {
  opacity: 0.3;
  outline: none;
}

.conditions-btn-info {
  position: absolute;
  top: 119px;
  right: 33px;

  width: 40px;
  height: 40px;
  padding: 0;

  background-color: #DCDCDC;
  background-image: url("../img/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;

  border: none;
  border-radius: 50%;
}

.about-us-contacts-container {
  margin: 97px auto 0;

  width: 1160px;
  display: flex;
  flex-wrap: wrap;
}

.about-us {
  margin-right: 100px;

  width: 500px;
}

.about-us-title {
  margin: 0;
  padding-top: 49px;

  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.about-us-description {
  margin: 0;
  padding-top: 45px;
}

.about-us-list {
  margin: 73px 0 0 34px;
  padding: 0;

  list-style-type: none;
}

.about-us-item {
  font-weight: 700;
  color: #000000;
  line-height: 20px;
}

.about-us-item:not(:last-child) {
  padding-bottom: 30px;
}

.contacts {
  width: 515px;
}

.about-us-link {
  margin: 56px 0 71px 0;
  padding: 14px 20px 16px;
  display: inline-block;
}

.contacts-title {
  margin: 0;
  padding-top: 49px;

  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.contacts-description {
  margin: 0;
  padding-top: 50px;
}

.contacts-subtitle {
  margin: 35px 0 0 0;

  font-weight: 700;
  font-size: 24px;
}

.contacts-address-text {
  margin: 0;
  padding-top: 15px;
  font-style: normal;
}

.contacts-phone {
  color: inherit;
  font-style: normal;
}

.contacts-schedule {
  margin: 26px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.contacts-link {
  margin: 56px 0 71px 0;
  padding: 14px 20px 16px;
  display: inline-block;
}

.subscribe {
  background-color: #F0F0F0;
}

.subscribe-container {
  margin: 0 auto;

  width: 1160px;
  display: grid;
  grid-template-columns: 600px 280px 280px;
  grid-template-areas: "title description description"
                       "email email comment";
}

.subscribe-title {
  margin: 0;
  padding: 75px 0 40px;
  grid-area: title;

  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.subscribe-description {
  margin: 0;
  padding: 86px 31px 0 0;
  grid-area: description;
}

.subscribe-form {
  margin-bottom: 134px;
  grid-area: email;
}

.subscribe-form form {
  display: flex;
}

.subscribe-input {
  margin: 0;
  /* margin-right: -4px; */

  width: 600px;
  padding: 18px 0 6px;

  font-size: 18px;

  background-color: #F0F0F0;

  border: none;
  border-bottom: 3px solid rgb(0, 0, 0, 0.1);
}

.subscribe-input::placeholder {
  font-size: 18px;
}

.subscribe-input:focus {
  background-color: #DCDCDC;
}

.subscribe-input:hover {
  border-bottom-color: rgb(0, 0, 0, 0.2);
}

.subscribe-input:active {
  border-bottom-color: rgb(0, 0, 0, 1);
}

.subscribe-input--active {
  border-bottom-color:rgb(0, 0, 0, 1);
}

.subscribe-input:invalid {
  border-bottom-color: #FF3D3D;
}

.subscribe-btn {
  padding: 17px 54px 18px;

  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  letter-spacing: 3px;
  text-transform: uppercase;

  border: 3px solid rgba(0, 0, 0, 0.1);
}

.subscribe-btn:focus {
  outline: none;
  border-color: #AF4FFF;
}

.subscribe-btn:hover {
  color: #FFFFFF;
  background-color: #000000;
  border-color: #000000;
}

.subscribe-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-comment {
  grid-area: comment;
  margin-left: auto;
  padding-left: 35px;
  background: url("../img/check-mark.svg") no-repeat left 8px;
}

.page-footer {
  background-color: #444444;
  color:  #FFFFFF;
}

.page-footer-container {
  margin: 0 auto;

  width: 1160px;
  display: grid;
  grid-template-columns: 250px 660px 250px;
  grid-template-areas: "logo logo logo"
                       "addres footer-nav phone"
                       "line social logo-html";
}

.logo-footer {
  margin: 62px 0 35px;

  display: block;
  grid-area: logo;
}

.page-footer-address {
  grid-area: addres;
  align-self: center;

  font-size: 16px;
  font-style: normal;
  line-height: 19px;
}

.page-footer-address-text {
  margin: 0;
}

.page-footer-phone {
  padding: 0 10px;
  display: block;
  grid-area: phone;
  align-self: center;
  justify-self: end;

  color: inherit;
  text-decoration: none;
  line-height: 30px;
}

.page-footer-phone:focus {
  outline: 2px solid #AF4FFF;
  border-radius: 18px;
}

.page-footer-phone:hover {
  color: #FFC700;
}

.page-footer-phone:active {
  outline: none;
  opacity: 0.3;
}

.page-footer-list {
  margin: 0 auto;

  width: 490px;
  padding: 0;
  grid-area: footer-nav;
  align-self: center;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style-type: none;
}

.page-footer-link {
  position: relative;
  padding: 14px 20px 15px;

  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3px;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.page-footer-link:focus {
  outline: 2px solid #AF4FFF;
  border-radius: 26px;
}

.page-footer-link:hover:after {
  position: absolute;
  left: 20px;
  top: 42px;

  content: "";
  height: 2px;
  width: 74%;
  background-color: #FFC700;
}

.page-footer-link:hover {
  color: #FFC700;
}

.page-footer-link:active {
  opacity: 0.3;
  outline: none;
}

.footer-social {
  padding: 49px 0 61px;
  grid-area: social;
  align-self: center;
  justify-self: center;
}

.footer-social-list {
  margin: 0;

  padding: 0;
  display: flex;
  flex-wrap: wrap;

  list-style-type: none;
}

.footer-social-item:not(:last-child) {
  margin-right: 15px;
}

.footer-social-icon {
  width: 40px;
  height: 40px;
  display: flex;

  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.footer-social-icon svg {
  margin: auto;
}

.footer-social-icon:focus {
  outline: 5px solid #AF4FFF;
  background-color: #444444;
}

.footer-social-icon:focus path {
  fill: #FFFFFF;
}

.footer-social-icon:hover {
  background-color: #FFC700;
}

.footer-social-icon:active {
  outline: none;
}

.footer-social-icon:active path {
  fill: rgba(68, 68, 68, 0.3);
}

.logo-htmlacademy {
  padding: 10px 10px 0;

  grid-area: logo-html;
  align-self: center;
  justify-self: end;
}

.logo-htmlacademy:focus {
  outline: 2px solid #AF4FFF;
  border-radius: 10px;
}

.logo-htmlacademy:hover path{
  fill: #FFFFFF;
}

.logo-htmlacademy:active {
  opacity: 0.3;
  outline: none;
}

.footer-line {
  width: 80px;
  height: 7px;

  grid-area: line;
  align-self: center;

  background-color: #FFC700;

}

/* внутренняя страница */

.main-inner {
  color: #000000;
}

.inner-header {
  margin: 0 auto;

  width: 1160px;
}

.main-inner-subtitle {
  margin: 0;
  padding: 37px 0 14px 60px;

  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.breadcrumbs {
  margin: 0 0 36px 60px;
  padding: 0;

  display: flex;
  flex-wrap: wrap;

  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 25px;
}

.breadcrumbs-item:not(:last-child):after {
  position: absolute;
  top: 13px;
  right: -10px;

  content: "";
  width: 4px;
  height: 7px;
  background: url("../img/arrow-bread.svg") no-repeat;
}

.breadcrumbs-link {
  padding: 5px 12px 6px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}

.breadcrumbs-link:first-child {
  margin-left: -8px;
}

.breadcrumbs-link:focus {
  outline: 5px solid #AF4FFF;
}

.breadcrumbs-link:hover {
  color: #000000;
}

.breadcrumbs-link:active {
  outline: none;
  opacity: 0.3;
}

.inner-container {
  margin: 0 auto;

  width: 1160px;
  display: flex;
}

.filter {
  position: relative;

  width: 328px;
  background: #E5E5E5;
}

.filter::before {
  position: absolute;
  left: -1000px;

  content: "";
  width: 1000px;
  height: 100%;

  background: #E5E5E5;
}

.catalog-filter-name {
  position: relative;

  margin: 0;
  padding: 31px 0 30px 60px;

  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 3px;
  text-transform: uppercase;

  background-color: #DCDCDC;
}

.catalog-filter-name::before {
  position: absolute;
  top: 0;
  left: -1000px;

  content: "";
  width: 1000px;
  height: 100%;

  background: #DCDCDC;
}

.catalog-filter-form {
  margin-top: 71px;
}

.catalog-filter-group {
  position: relative;

  margin: 0 0 36px 60px;
  padding: 0;
  width: 200px;

  border: none;
}

.catalog-filter-group::before {
  position: absolute;
  top: -32px;

  width: 200px;
  height: 2px;

  content: "";

  background-color: #000000;
}

.catalog-filter-title {
  padding-top: 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -1px;
}

.control-label {
  font-size: 16px;
  line-height: 19px;
}

.catalog-filter-btn {
  margin-left: 60px;
  padding: 14px 40px 16px;

  background-color: inherit;
  background: linear-gradient(to bottom, #E5E5E5 40%, #FFE17F 40%, #FFE17F 55%, #E5E5E5 55%);

  border: none;
}

.catalog-filter-btn:focus {
  background: linear-gradient(to bottom, #E5E5E5 40%, #AF4FFF 40%, #AF4FFF 55%, #E5E5E5 55%);
}

.catalog-filter-list {
  margin: 0;
  margin-top: 20px;
  padding: 0;

  list-style-type: none;
}

.catalog-filter-item {
  padding-left: 37px;
}

.catalog-filter-item:not(:last-child) {
  padding-bottom: 20px;
}

.sorting-product-container {
  width: 832px;
}

.sorting {
  position: relative;
  padding: 25px;
  padding-right: 0;

  background-color: #EBEBEB;
  box-shadow: 35vw 0 0 #EBEBEB;
}

.sorting-type {
  display: flex;
  align-items: center;
}

.sorting-label {
  margin: 0;
  padding-left: 47px;

  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 3px;
  text-transform: uppercase;

  background-color: #EBEBEB;
}

.sorting-price-label-container {
  margin-left: auto;
}

.select-control {
  margin-left: 52px;

  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  background-color: #EBEBEB;

  border: none;
}

.product-list {
  margin: 69px 0 40px 72px;

  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 40px;
}

.product-card {
  position: relative;
  padding-bottom: 4px;
}

.product-card-more-info img{
  opacity: 0.3;
}

.product-card-more-info .product-btn-more-info {
  position: absolute;
  top: 172px;
  left: 95px;

  padding: 9px 15px 11px;

  background: linear-gradient(to bottom, transparent 40%, #FFC700 40%, #FFC700 55%, transparent 55%);
}

.product-link {
  display: grid;
  grid-template-columns: 280px auto;
  row-gap: 32px;

  color: inherit;
  text-decoration: none;
}

.product-link:focus {
  outline: none;
}

.product-link:focus .product-img{
  outline: 5px solid #AF4FFF;
}

.product-link:focus,
.product-link:focus .product-price {
  color: #AF4FFF;
}

.product-img {
  grid-column: 1 / -1;
}

.product-title {
  margin: 0;
  padding-right: 10px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.product-price {
  justify-self: end;

  font-size: 18px;
  color: #444444;
  font-weight: 400;
  line-height: 21px;
}

.product-btn-more-info--none {
  display: none;
}

.product-btn-more-info:hover {
  background: #FFC700;
}

.product-btn-more-info--none {
  display: none;
}

.pagination-show-more {
  margin-bottom: 51px;
  margin-left: auto;

  width: 760px;
  padding: 18px;
  display: block;

  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;

  background-color: #FFFFFF;

  border: 3px solid rgba(1,1,1,0.1);
}

.pagination-show-more:focus {
  outline: 2px solid #AF4FFF;
  border: 3px solid #AF4FFF;
}

.pagination-show-more:hover {
  border: 3px solid #000000;
}

.pagination-show-more:active {
  outline: none;
  opacity: 0.3;
}

.pagination {
  margin-bottom: 77px;
  margin-left: auto;

  width: 760px;
  display: flex;
  box-sizing: border-box;

  background-color: #EBEBEB;
}

.pagination-move {
  padding: 27px 18px 24px 29px;

  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  opacity: 1;

  border: none;
  background-color: #EBEBEB;

  cursor: pointer;
}

.pagination-move:focus {
  outline: 5px solid #AF4FFF;
}

.pagination-move:hover {
  background: #DCDCDC;
}

.pagination-move:active {
  outline: none;
  opacity: 0.3;
}

.pagination-prev {
  margin-right: auto;
}

.pagination-next {
  margin-left: auto;
}

.pagination-number {
  margin: auto 0 auto;
  padding: 0;

  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.pagination-link {
  padding: 8px 16px 11px 15px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  color: #444444;
  opacity: 0.3;
}

.pagination-item:nth-child(4) .pagination-link,
.pagination-item:last-child  .pagination-link{
  padding: 8px 8px 11px 7px;
}

.pagination-link:focus {
  outline: 5px solid #AF4FFF;
}

.pagination-link:hover {
  opacity: 1;
}

.pagination-link:active {
  outline: none;
  opacity: 0.1;
}
