@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubic";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubic";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubic";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;

  display: flex;
  flex-direction: column;
  min-height: 100%;

  font-family: "Rubic", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;

  background-color: #FFFFFF;
}

.btn-yellow {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;

  background: linear-gradient(to bottom, white 35%, #FFC700 35%, #FFC700 70%, white 70%);
}

.page-header {
  margin: 0 auto;

  width: 1160px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  color: #000000;
  background-color: #FFE17F;
}

.logo-link {
  width: 145px;
}

.page-header-container {
  display: flex;
  justify-content: space-between;
}

.search-form {
  width: 560px;
}

.search-form-input {
  border: none;
  background-color: #FFE17F;
}

.search-form-input::placeholder {
  font-size: 16px;
  line-height: 19px;
  opacity: 0.3;
}

.search-form-btn {
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  background-color: #FFE17F;
}

.navigation-user-list {
  margin: 0;

  width: 560px;
  padding: 0;

  font-size: 16px;
  line-height: 19px;
}

.navigation-user-link {
  color: inherit;
  text-decoration: none;
}

.navigation-list {
  margin: 0;
  padding: 0;

  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.navigation-link {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.main-container {
  flex-grow: 1;
}

.exsamples-of-goods {
  margin: 0 auto;

  width: 1160px;
}

.exsamples-of-goods-advantage {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.exsamples-of-goods-value {
  font-size: 36px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
}

.exsamples-of-goods-definition {
  font-size: 16px;
  font-weight: 400;
}

.categories {
  margin: 0 auto;

  width: 1160px;
}

.categories-list {
  margin: 0;

  width: 100%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.categories-item {
  width: 160px;
}

.categories-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.5px;
  color: #000000;
  text-decoration: none;
}

.categories-wrap {
  width: 160px;
  height: 160px;

  text-align: center;

  background-color: #FFE17F;
}

.conditions {
  background-color: #F0F0F0;
}

.conditions-container {
  margin: 0 auto;

  width: 1160px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.conditions-slider {
  margin: 0;

  width: 280px;
  padding: 0;
}

.conditions-list {
  margin: 0;

  width: 760px;
  padding: 0;
}

.conditions-btn {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3px;
  color: #000000;

  background-color: #F0F0F0;
  background: linear-gradient(to bottom, #F0F0F0 35%, #FFC700 35%, #FFC700 70%, #F0F0F0 70%);

  border: none;
}

.conditions-btn--current {
  color: #FFE17F;
  background: #000000;
}

.conditions-slider-item--current {
  background-color: #000000;
}

.conditions-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.conditions-wrap {
  text-align: center;
  background-color: #FFFFFF;
}

.conditions-special-delivery {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 3px;
  color: #000000;

  background-color: #F0F0F0;
}

.about-us-contacts-container {
  margin: 0 auto;

  width: 1160px;
  display: flex;
  flex-wrap: wrap;
}

.about-us {
  margin-right: 100px;

  width: 500px;
}

.about-us-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.about-us-item {
  font-weight: 700;
  color: #000000;
  line-height: 20px;
}

.contacts {
  width: 515px;
}

.contacts-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
}

.contacts-phone {
  color: inherit;
  font-style: normal;
}

.subscribe {
  background-color: #F0F0F0;
}

.subscribe-container {
  margin: 0 auto;

  width: 1160px;
}

.subscribe-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.subscribe-input {
  background-color: #F0F0F0;

  border: none;
  border-bottom: 3px solid rgb(0, 0, 0, 0.1);
}

.subscribe-btn {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  letter-spacing: 3px;

  border: 3px solid rgba(0, 0, 0, 0.1);
}

.page-footer {
  background-color: #444444;
  color:  #FFFFFF;
}

.page-footer-container {
  margin: 0 auto;

  width: 1160px;
}

.page-footer-address {
  font-size: 16px;
  font-style: normal;
  line-height: 19px;
}

.page-footer-phone {
  color: inherit;
  text-decoration: none;
  line-height: 30px;
}

.page-footer-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3px;
  color: inherit;
  text-decoration: none;
}

/* внутренняя страница */

.main-inner {
  color: #000000;
}

.inner-header {
  margin: 0 auto;

  width: 1160px;
}

.main-inner-subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs-item {
  margin-right: 36px;
}

.breadcrumbs-link {
  color: inherit;
  font-size: 16px;
  line-height: 19px;
  opacity: 0.6;
  text-decoration: none;
}

.inner-container {
  margin: 0 auto;

  width: 1160px;
  display: flex;
}

.filter {
  position: relative;

  width: 328px;
  background: #E5E5E5;
}

.filter::before {
  position: absolute;
  left: -1000px;

  content: "";
  width: 1000px;
  height: 100%;

  background: #E5E5E5;
}

.filter-name {
  position: relative;

  margin: 0;

  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 3px;
  text-transform: uppercase;

  background-color: #DCDCDC;
}

.filter-name::before {
  position: absolute;
  left: -1328px;

  content: "";
  width: 1000px;
  height: 100%;

  background: #DCDCDC;
}

.catalog-filter-group {
  border: none;
  border-top: 2px solid #000000;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -1px;
}

.control-label {
  font-size: 16px;
  line-height: 19px;
}

.catalog-filter {
  background-color: inherit;
  background: linear-gradient(to bottom, #E5E5E5 35%, #FFC700 35%, #FFC700 70%, #E5E5E5 70%);

  border: none;
}

.sorting-product-container {
  width: 832px;
}

.sorting {
  position: relative;

  background-color: #EBEBEB;
}

.sorting::before {
  position: absolute;
  right: -1000px;

  content: "";
  width: 1000px;
  height: 100%;

  background: #EBEBEB;
}

.sorting-label {
  background-color: #EBEBEB;
}

.sorting-type {
  width: 100%;
}

.select-control {
  font-family: "Rubic", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  background-color: #EBEBEB;

  border: none;
}

.product-link {
  color: inherit;
  text-decoration: none;
}

.product-title {
  font-weight: 700;
  letter-spacing: -0.5px;
}

.product-price {
  color: #444444;
  font-weight: 400;
  line-height: 21px;
}

.pagination-show-more {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;

  background-color: #FFFFFF;

  border: 3px solid rgba(1,1,1,0.1);
}

.pagination {
  background-color: #EBEBEB;
}

.pagination-link {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}
